<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left">
                <h1>{{ contact.name }}</h1>
                <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 100px;">
            </span>
            <div class="pull-right">
                <a class="btn btn-primary" routerLink="./edit">Edit</a>
                <a (click)="onDelete()" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <p class="list-group-item-text"><strong>Email:</strong> {{ contact.email }}</p>
                <p class="list-group-item-text"><strong>Phone:</strong> {{ contact.phone }}</p>
            </div>
        </div>
        <div class="panel-body" *ngIf="contact.group">
            <div class="form-group">
              <label for="groupList">Group Contacts:</label>
              <div class="row" id="groupList" style="min-height: 3rem;" >
                <div *ngFor="let contact of contact.group; let i = index">
                  <div>
                    <app-contact-item class="col-sm-11" [contact]="contact"></app-contact-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>