<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left">
                <h1>{{ contacts }}</h1>
                <img [src]="contacts" alt="{{ contacts }}" class="img-responsive" style="max-height: 100px;">
            </span>
            <div class="pull-right">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Edit</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <p class="list-group-item-text"><strong>Email:</strong> {{ contacts }}</p>
                <p class="list-group-item-text"><strong>Phone:</strong> {{ contacts }}</p>
            </div>
        </div>
      </div>
    </div>
</div>